# NetBeans
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
manifest.mf

# Eclipse/IntelliJ
.settings/
.classpath
.project

# Java compilado
*.class
*.jar

# Arquivos de sistema
.DS_Store
Thumbs.db